@import "../../utils/_variables.scss";

$pfbr: .5rem;

.base {
  padding-top: 2rem;
  column-gap: 2rem;
  @include for-tablet-portrait-up {
    column-width: 600px;
  }
  @include for-tablet-landscape-up {
    column-width: 400px;
  }
  @include for-desktop-up {
    column-width: 500px;
  }
}

.wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: $pfbr;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0px 10px 20px rgba(0,0,0,.2);
  transition: all .5s ease-out-quart;
  img {
    border-radius: $pfbr;
  }
  &:hover {
    box-shadow: 0px 15px 25px rgba(0,0,0,.1);
    transform: translateY(-10px);
    .link {
      visibility: visible;
      opacity: .9;
    }
  }
}

.link {
  position: absolute 0;
  border-radius: $pfbr;
  lost-flex-container: column;
  justify-content: flex-end;
  padding: 1rem;
  background-image: linear-gradient(30deg, $gt-blue-light 0%, $gt-blue-dark 100%);
  color: $white;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-out-quart;
  h2 {
    margin-bottom: 0;
  }
  &:hover {
    color: $white;
  }
}