@import "../../utils/_variables.scss";

.wrapper {
  position: relative;
  z-index: 100;
  border-radius: $global-border-radius;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-out-back;
  &:hover {
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
    .imageOverlay {
      opacity: 0.9;
    }
  }
  @include for-stoneage-only {
    lost-column: 1/1;
    height: 10rem !important;
  }
  @include for-phone-only {
    lost-column: 1/1;
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
    height: 15rem;
  }
  @include for-tablet-portrait-up {
    lost-column: 1/2 3 3.25rem;
    &:first-child {
      lost-column: 1/1;
      margin-bottom: 3.25rem;
      height: 20rem;
    }
    height: 28rem;
  }
  @include for-tablet-landscape-up {
    lost-column: 1/2 3 5rem;
    &:first-child {
      lost-column: 1/1;
      margin-bottom: 5rem;
      height: 25rem;
    }
    height: 35rem;
  }
  @include for-desktop-up {
    lost-column: 1/3 3 5rem;
    &:first-child {
      lost-column: 1/3 3 5rem;
      margin-bottom: 0;
      height: 30rem;
    }
    height: 30rem;
  }
  @include for-big-desktop-up {
    &:first-child {
      height: 35rem;
    }
    height: 35rem;
  }
}

.image {
  position: absolute 0;
  z-index: 1;
  object-fit: cover;
  border-radius: $global-border-radius;
  img {
    border-radius: $global-border-radius;
  }
}

.image > div > div {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

.image > div {
  position: static !important;
}

.link {
  position: absolute 0;
  lost-flex-container: column;
  justify-content: flex-end;
  padding: 1rem;
  z-index: 3;
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba($black, 0) 0%,
      rgba($black, 1) 100%
    );
    z-index: -10;
    border-radius: $global-border-radius;
    transition: opacity 0.5s;
  }
  &:hover {
    &:after {
      opacity: 0;
    }
  }
}

.customer {
  text-align: left;
  margin-bottom: 0.5rem;
}

.title {
  text-align: left;
  margin-bottom: 0;
}

.customer,
.title {
  color: $white;
}

.imageOverlay {
  border-radius: $global-border-radius;
  position: absolute 0;
  z-index: 2;
  opacity: 0.1;
  transition: opacity 0.5s;
  background-image: linear-gradient(
    30deg,
    $gt-blue-light 0%,
    $gt-blue-dark 100%
  );
}
