.user {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
  .user:last-child {
    margin-bottom: 0;
  }
  
  .avatar {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
  }