@import "../utils/_variables.scss";

.text {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 15px 20px rgba(#000, .13);
    margin-top: 5rem;
    margin-bottom: 5rem;
    @include for-phone-only {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}