@import "../utils/_variables.scss";

.contacts {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.buttonText {
    margin-left: .5rem;
}

.cardWrapper {
    lost-flex-container: row;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.iconWrapper {
    font-size: 3rem;
}