@import "../../utils/_variables.scss";

.wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  lost-flex-container: row;
  @include for-tablet-landscape-down {
    margin-bottom: 4rem;
  }
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dateTime {
  lost-flex-container: row;
}

.time {
  margin-left: 0.5rem;
}

.dateTime,
.tags {
  margin-top: 0.5rem;
}

.line {
  height: 2px;
  width: 100%;
  background-color: $black-tint;
  margin-bottom: 0.5rem;
}

.catWrapper {
  display: inline-block;
}

.linkTitle h1 {
  display: inline-block;
}
