@import "../../utils/_variables.scss";

.wrapper {
    background: linear-gradient(45deg, $gt-bg-dark 0%, $gt-bg-light 100%);
    height: 60vh;
    lost-align: center;
    position: relative;
}

.slim {
    height: 30vh;
    .heroText {
        margin-bottom: 0rem;
    }
}

.heroText {
    color: $white;
    text-align: center;
    margin-bottom: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
        cursor: default;
    }
    @include for-phone-only {
        font-size: 2rem;
    }
}