@import "../../utils/_variables.scss";

.wrapper {
    background: linear-gradient(45deg, $gt-bg-dark 0%, $gt-bg-light 100%);
    height: 60vh;
    lost-align: center;
    position: relative;
}

.slim {
    height: 40vh;
    .heroText {
        margin-bottom: 0rem;
    }
    svg {
        height: 5rem;
    }
}

.heroText {
    color: $white;
    text-align: center;
    margin-bottom: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    &:hover {
        cursor: default;
    }
    h1 {
        @include for-phone-only {
            font-size: 1.75rem;
        }
    }
}

.subTitle {
    font-size: 1.25rem;
    max-width: 650px;
    color: $white-tint;
    @include for-phone-only {
        font-size: 1rem;
    }
}