@import "./_variables.scss";

// --------------
// Allgemeiner Stil
// --------------

.active {
  &:focus {
    color: $white;
  }
}

.project-blog-content p a,
.project-blog-content ul a,
.project-blog-content ol a {
  font-weight: bold;
  border-bottom: 1px solid $blue-tint;
  box-shadow: inset 0 -2px 0px $blue-tint;
  color: $black;
  &:hover {
    background: $blue-tint;
    color: $black;
  }
}

::selection {
  color: $white;
  background-color: $blue;
}

html {
  font-size: responsive 13px 16px;
  font-range: 420px 1200px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  @include for-stoneage-only {
    font-size: 12px;
  }
}

mark {
  background-color: rgba($gt-blue-dark, 0.9);
  color: $white;
  font-size: 90%;
  padding: 0 0.75rem;
  box-shadow: 0px 2px 8px rgba($blue, 0.5);
  border-radius: 0.3rem;
}

h1 {
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

h2 {
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

blockquote {
  border-left: 5px solid $blue;
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  p {
    line-height: 1.3 !important;
  }
}

.night {
  body {
    color: $body-bg;
    background-color: $body-color;
  }

  mark {
    background-color: rgba($blue, 0.9);
  }

  hr {
    background-color: $body-bg;
  }

  table {
    color: $body-color;
  }

  .project-blog-content p a,
  .project-blog-content ul a,
  .project-blog-content ol a {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  header {
    background: linear-gradient(
      45deg,
      $gt-bg-dark-night 0%,
      $gt-bg-light-night 100%
    );
  }
  footer {
    background: linear-gradient(
      -45deg,
      $gt-bg-dark-night 0%,
      $gt-bg-light-night 100%
    );
  }
  .headroom--pinned,
  .wave {
    svg path {
      fill: $body-color;
    }
  }
  .projekt-container,
  .post-container,
  .blog-container,
  .tag-container,
  .category-container {
    a {
      svg path {
        fill: $white-tint;
      }
    }
  }
  .line {
    background-color: $white-tint;
  }
  .post-tag-container button {
    border-color: $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $blue-black-ish;
    }
  }
}
.projekt-container,
.post-container,
.kontakt-container {
  p {
    line-height: 1.58;
    letter-spacing: -0.003em;
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
    font-size: 1.25rem;
  }
  ol li {
    font-size: 1.25rem;
  }
  ul li {
    font-size: 1.25rem;
  }
  .gatsby-image-wrapper {
    height: 50vh;
    @include for-mobile-landscape {
      height: 100vh;
    }
    @include for-tablet-landscape {
      height: 85vh;
    }
    img {
      animation: projectHeader 30s infinite;
    }
  }
}
.blog-container {
  .gatsby-image-wrapper {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out-quart;
    border-radius: 0.35rem;
    &:hover {
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    }
    img {
      border-radius: 0.35rem;
    }
    @include for-tablet-landscape-down {
      max-height: 15rem;
    }
  }
}
.contactCards {
  .card {
    lost-column: 1/4;
    @include for-tablet-landscape-down {
      lost-column: 1/2;
      margin-bottom: 2rem;
    }
    @include for-phone-only {
      lost-column: 1/1;
    }
  }
}
.projectCards {
  .card {
    color: $black !important;
    lost-column: 1/3;
    margin-bottom: 2rem;
    text-align: center;
    @include for-phone-only {
      lost-column: 1/1;
    }
  }
}
.fullwidth {
  .gatsby-resp-image-wrapper {
    width: 100vw;
    margin-left: -50vw !important;
    left: 50%;
    max-width: 6000px !important;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.gatsby-resp-image-wrapper {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}
.gatsby-resp-iframe-wrapper {
  margin-bottom: 2rem;
}
.gatsby-highlight {
  margin-bottom: 2rem;
}
@keyframes projectHeader {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  25% {
    animation-timing-function: ease-out;
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.12);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@include for-tablet-portrait-only {
  .projekte-container {
    .gatsby-image-wrapper {
      max-height: 30rem;
    }
  }
}
@include for-phone-only {
  .projekte-container {
    .gatsby-image-wrapper {
      max-height: 15rem;
    }
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@include for-stoneage-only {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}
