// --------------
// Mixins
// --------------

// Hover

@mixin hover-focus {
  &:focus,
  &:hover {
    @content;
  }
}

// Centerer

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Queries

@mixin for-stoneage-only {
  @media (max-width: 400px) {
    @content;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1500px) {
    @content;
  }
}

// Custom Media Queries

@mixin for-mobile-landscape {
  @media (max-width: 900px) and (orientation: landscape) {
    @content;
  }
}

@mixin for-tablet-landscape {
  @media (max-width: 1199px) and (orientation: landscape) {
    @content;
  }
}

// --------------
// Farben
// --------------

$white: #fff;
$nearlyWhite: #f0f0f0;
$grey: #94a1c9;
$black: #2a2b2f;
$blue: #3498db;
$orange: #db8834;
$orange-light: #ffa64d;
$blue-light: #57b6fc;
$blue-black-ish: #2e3246;

// Tints

$black-tint: rgba($black, 0.25);
$white-tint: rgba($white, 0.75);
$blue-tint: rgba($blue, 0.35);

// Gradient
$gt-bg-light: #373b4d;
$gt-bg-dark: #1e212b;

$gt-bg-light-night: rgb(70, 80, 122);
$gt-bg-dark-night: rgb(38, 44, 65);

$gt-blue-light: #5abdff;
$gt-blue-dark: #3466db;

$gt-orange-light: #ffaf60;
$gt-orange-dark: #d17c26;

// --------------
// Variablen
// --------------

// Body
$body-bg: $nearlyWhite;
$body-color: $black;

// Style
$global-border-radius: 0.4rem;

// Link
$link-color: $blue;
$link-decoration: none;
$link-hover-color: $blue-light;
$link-hover-decoration: none;

$text-muted: #8d91a1;
$cursor-disabled: not-allowed;

// Tabellen
$table-bg: $white;
$table-cell-padding: 1.5rem;

// Transition
$transition-normal: 0.5s;

// --------------
// Lost Grid
// --------------

@lost flexbox flex;
