// --------------
// Mixins
// --------------

// Hover

@mixin hover-focus {
    &:focus,
    &:hover {
        @content
    }
}

// Media Queries

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

// --------------
// Farben
// --------------

$white: #fff;
$nearlyWhite: #F7F7F7;
$grey: #8A8A8A;
$black: #2A2B2F;
$blue: #3498DB;
$orange: #DB8834;
$blue-light: #57B6FC;
$blue-black-ish: #343848;

// Gradient
$gt-bg-light: #373B4D;
$gt-bg-dark: #1E212B;

$gt-blue-light: #5ABDFF;
$gt-blue-dark: #3466DB;

$gt-orange-light: #FFAF60;
$gt-orange-dark: #D17C26;

// --------------
// Variablen
// --------------

// Body
$body-bg: $nearlyWhite;
$body-color: $black;

// Link
$link-color: $blue;
$link-decoration: none;
$link-hover-color: $blue-light;
$link-hover-decoration: none;

$text-muted: #8D91A1;
$cursor-disabled: not-allowed;

// Tabellen
$table-bg: $white;
$table-cell-padding: 1.5rem;

// Transition
$transition-normal: .5s;

// --------------
// Lost Grid
// --------------

@lost flexbox flex;